@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
    <abbr title="Phone">Ph:</abbr>
    425.555.0100 </br>
    98940 51356
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@Inigo.com">Support@Inigo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@Inigo.com">Marketing@Inigo.com</a>
</address>